.text-decorator-none{
    text-decoration: none;
}

.caixa-grid{
    display:grid !important;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-rows: auto;
    justify-content: flex-start;
}



.caixa-post{
   display: grid;
   align-items: stretch !important;
   align-content: space-between;
  
}

.botao {
    border-color: #2b1b60 !important;
    background-color: #2b1b60 !important;
    color: white !important;
    font-family: monospace !important;

}

.botao2 {
    border-color: #7057c0  !important;
    background-color: #7057c0 !important;
    color: white !important;
    font-family: monospace !important;
}

.pd-30{
    padding-top: 05px;
}

.back-card{
    background-color: #5f92b423 !important;
  
}

.text-gray{
    color: #6b6666;
}

.fonte-mono{
    font-family: monospace;
}