.box1{
    background-color: #2b1b60;
    height: 125px;
}

.box2{
    background-color: #342174;
    height: 60px;
}

.redes{
    font-size: 40px !important;
    color: white;
}

.textos{
    color: white; 
    font-family: monospace !important;
}

.iredes{
    display: flex;
    gap: 15px;
}

.text-decoration-none{
    text-decoration: none;
}