.botao {
    border-color: #2b1b60 !important;
    background-color: #2b1b60 !important;
    color: white !important;
    font-family: monospace !important;

}

.botao2 {
    border-color: #7057c0  !important;
    background-color: #7057c0 !important;
    color: white !important;
    font-family: monospace !important;
}