.imagem2{
    background-image: url(https://images4.alphacoders.com/157/157634.jpg)!important;
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.t-log2::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

.t-log2:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.t-log2::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: #0f023de5;
    z-index: -1;
    transition: transform .3s ease;
}


.textos2{
    font-weight: bold !important;
    font-family: monospace !important;
}

.botao {
    border-color: #2b1b60 !important;
    background-color: #2b1b60 !important;
    color: white !important;
    font-family: monospace !important;
}

.botao2 {
    border-color: #7057c0  !important;
    background-color: #7057c0 !important;
    color: white !important;
    font-family: monospace !important;
}

.box-botao{
    display: flex;
    justify-content: center;
    gap: 15px !important;
}

.cad-texto{
    display: flex;
    justify-content: end;
    font-family: monospace;
    font-style: oblique;
    color: rgb(87, 85, 85);
}